*{
    margin: 0;
    padding: 0;
    transition: all 1s ease
}

body{
    min-height: 100vh;
    display: flex;
    background: linear-gradient(125deg, #0c7af8, #7ab4f7, white);
    align-items: center;
    justify-content: center;
}

.wrapper{
    background: white;
    height: 400px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 1px rgb(51, 51, 51);
}

.form{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.form h3{
    margin: auto;
    font-size: 25px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form::before{
    content: '';
    display: block;
    position: relative;
    top: 50px;
    border-bottom: 1px solid black;
}

#Converter{
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.form input{
    margin-top: 20px;
    height: 35px;
    font-size: 15px;
    outline: none;
    padding-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.form :where(select){
    width: 100%;     
    outline: none;
    border: none;
    height: 30px;
}

.form .dropList{
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}


.form .dropList i{
    font-size: 30px;
    padding: 10px;
}

.form .dropList select{
    border: 1px solid grey;
    text-align: center;
    border-radius: 5px;    
}

#result{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.btn{
    height: 40px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    background: transparent;
    border: 1px solid #2081f0;
    width: 98%;
    text-transform: uppercase;
    margin: auto;
    overflow: hidden;
    z-index: 100;
    border-radius: 5px;
    transition: all 0.7s;
}

.btn:hover{
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(51, 51, 51);
    zoom: 103%;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0%;
    right: -10%;
    height: 100%;
    width: 0%;
    z-index: -1;
    transform: skewX(30deg);
    background: #2081f0;
    transition: all 0.7s;
    animation: color_change 5s linear infinite;
}

@keyframes color_change {
    0%{
        background: #7ab4f7;
    }
    50%{
        background: #2081f0;
    }
    100%{
        background: #7ab4f7;
    }
    
}

.btn:hover::before{
    width: 120%;
    top: 0;
    left: -10%;
}

